node_modules/
.env
.codex-runtime/
.agent/
firebase-debug.log
firestore-debug.log
pubsub-debug.log
public/uploads/
*.log
dist/
.agents/skills/
uploadjs/v-up-1eeb3-firebase-adminsdk-fbsvc-2f45796e8a.json
